*.class

**/bin/

*~

paper/*.aux

paper/*.log

paper/*.bbl

paper/*.blg

paper/*.pdf

.DS_Store

.metadata/

.recommenders/


experiments/parallelization-results/
experiments/prioritization-results/
experiments/selection-results/

**/surefire-reports/*
**/classes/*
**/test-classes/*
**/notice-and-license/*

experiments/ambari/target/
experiments/ambari/ambari-server/target/DBConnectionVerification.jar
experiments/ambari/ambari-server/target/ambari-server
experiments/ambari/ambari-server/target/ambari-server-2.0.0.0-SNAPSHOT.jar
experiments/ambari/ambari-server/target/antrun/build-main.xml
experiments/ambari/ambari-server/target/checkstyle-result.xml
experiments/ambari/ambari-server/target/rat.txt

experiments/ambari-new/target/
experiments/ambari-new/ambari-server/target/DBConnectionVerification.jar
experiments/ambari-new/amari-server/target/ambari-server
experiments/ambari-new/ambari-server/target/ambari-server-2.0.0.0-SNAPSHOT.jar
experiments/ambari-new/ambari-server/target/antrun/build-main.xml
experiments/ambari-new/ambari-server/target/checkstyle-result.xml
experiments/ambari-new/ambari-server/target/rat.txt

experiments/ambari-new/ambari-server/target/findbugs/findbugsXml.html
experiments/ambari-new/ambari-server/target/findbugs/findbugsXml.xml
experiments/ambari/ambari-server/target/findbugs/findbugsXml.html
experiments/ambari/ambari-server/target/findbugs/findbugsXml.xml

